# Gradle
.gradle
**/build/
!**/src/**/build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties
.gradletasknamecache

# IDE
.idea/
*.iml
*.ipr
*.iws

# OS files
.DS_Store
Thumbs.db

# Logs & temp
*.log
*.swp
*.tmp
*.lock

# Android build outputs
*.apk
*.ap_
*.dex
*.class
*.jar
*.so
*.aar
*.aab
*.hprof

# Captures
captures/
.externalNativeBuild/
.cxx/

# Keystore files (release keys)
*.keystore
*.jks
*.jceks

# Google Services (если не хочешь коммитить ключи)
google-services.json
app/google-services.json

# NDK / CMake
obj/
gen/
bin/

# Kotlin
.kotlin/

# Jetpack Compose previews cache
.idea/deploymentTargetDropDown.xml
.idea/other.xml

# Android Studio Profiling
*.hprof

# Local configs
local.properties